---
layout: default
title: "Program"
permalink: /program/
---

<section id="program">
    <br><br>
    <h1 class="text-center">Programação</h1>
    <br><br>
    <section id="program_overview">
        <div class="container-fluid">
            <div class="row px-5">
                <ul class="nav nav-pills nav-fill justify-content-center black" id="program-tab" role="tablist">
                    {% for day in site.data.program %}
                        <li class="nav-item" role="presentation">
                            {%- if forloop.index == 1 -%}
                                <button class="nav-link active" id="tab-{{ day.id }}" data-bs-toggle="tab"
                                    data-bs-target="#program-{{ day.id }}" type="button" role="tab"
                                    aria-controls="program-{{ day.id }}" aria-selected="true">
                            {%- else -%}
                                <button class="nav-link" id="tab-{{ day.id }}" data-bs-toggle="tab"
                                    data-bs-target="#program-{{ day.id }}" type="button" role="tab"
                                    aria-controls="program-{{ day.id }}" aria-selected="true">
                            {%- endif -%}
                                {{ day.title }}
                                <br>
                                {{ day.date }}
                                </button>
                        </li>
                    {% endfor %}
                </ul>
            </div> <!-- days -->
            <div class="tab-content">
                {% for day in site.data.program %}
                    {%- if forloop.index == 1 -%}
                        <div id="program-{{day.id}}" class="tab-pane show active" role="tabpanel">
                    {%- else -%}
                        <div id="program-{{day.id}}" class="tab-pane" role="tabpanel">
                    {%- endif -%}
                            <div class="container">
                                <div class="row program_header"> 
                                    <div class="col-2 text-center block_time">
                                    <b>Horário/Local:</b>
                                    </div>
                                    <div class="col text-center program_activity auditorio1">
                                    <b>Auditório 1 (BCo)</b>
                                    </div>
                                    <div class="col text-center program_activity auditorio2">
                                    <b>Auditório 2 (BCo)</b>
                                    </div>
                                    <div class="col text-center program_activity auditorio3">
                                    <b>Auditório 3 (BCo)</b>
                                    </div>
                                    <div class="col text-center program_activity le6">
                                    <b>LE6 (DC)</b>
                                    </div>
                                    <div class="col text-center program_activity maker">
                                    <b>Espaço Maker (DC)</b>
                                    </div>
                                    <div class="col text-center program_activity">
                                    <b>Bento Prado</b>
                                    </div>
                                </div>
                            </div>
                            {% for block in day.blocks %} 
                                <hr> 
                                <div class="container">
                                    <div class="row">
                                        <div class="col-2 text-center block_time">
                                            <p class="block_time_text">
                                                {{ block.start }} - {{ block.end }}
                                            </p>
                                        </div>
                                        {% for activity in block.activities %}
                                            <div class="col text-center program_activity {{activity.style}} ">
                                            {% if activity.url != nil %}
                                                <a href="{{activity.url}}" class="activity_title">
                                                <p class="activity_title">
                                                    {{ activity.title }}<br>{{ activity.subtitle }}
                                                </p>
                                                </a>
                                            {% else %}
                                                <p class="activity_title">
                                                    {{ activity.title }}
                                                </p>
                                            {% endif %}
                                            </div>
                                        {% endfor %}
                                    </div> <!-- block time start end -->
                                </div>
                            {% endfor %} <!-- block in day.block -->
                                <hr>
                                <br><br>
                                <div class="container">
                                    <h2 class="text-center">Detalhes</h2>
                                    <br>
                                    {% for block in day.blocks %}
                                        {% if block.hide_details %}
                                            {% continue %}
                                        {% endif %}
                                        {% for activity in block.activities %}
                                            {% if activity.hide_details %}
                                                {% continue %}
                                            {% endif %}
                                            {% if activity.type == "tutorial" %}
                                                <h3 id="{{activity.id}}">{{activity.title}}: {{activity.description}}</h3>
                                                <p class="activity_authors"><b>Autores</b>: {{activity.authors}}</p>
                                            {% elsif activity.type == "keynote" %}
                                                <h3 id="{{activity.id}}">{{activity.title}}</h3>
                                                {% if activity.image %}
                                                    <img src="{{ site.final_url }}/assets/img/{{activity.image}}" class="activity_image">
                                                {% endif %}
                                                {% if activity.authors %}
                                                    <p class="activity_authors"><b>Palestrante</b>: {{activity.authors}}</p>
                                                {% endif %}
                                            {% else %}
                                                <h3 id="{{activity.id}}">{{activity.title}}{% if activity.description %}: {{activity.description}}{% endif %} </h3>
                                            {% endif %}
                                            {% if activity.chair %}
                                                <p class="activity_chair"><b>Chair:</b> {{activity.chair}}</p>
                                            {% endif %}
                                            {% if activity.type != "gap" and activity.type != "blank" %}
                                                <p class="activity_room"><b>Sala:</b> {{activity.room}}</p>
                                                {% if activity.start3 %}
                                                    <p><b>Horários: </b> {{block.start}} - {{block.end}}, {{activity.start2}} - {{activity.end2}} e {{activity.start3}} - {{activity.end3}}</p>
                                                {% elsif activity.start2 %}
                                                    <p><b>Horário: </b> {{block.start}} - {{block.end}} e {{activity.start2}} - {{activity.end2}}</p>
                                                {% else %}
                                                    <p><b>Horário: </b> {{block.start}} - {{block.end}}</p>
                                                {% endif %}
                                            {% endif %}
                                            {% if activity.type == "session" %}                 <!-- session, details -->
                                                {% for paper in activity.papers %}
                                                    <p class="paper_title"><b>{{paper.title}}</b></p>
                                                    <p>{{paper.authors}}</p>
                                                {% endfor %} <!-- paper in activity.papers -->
                                            {% else %}                                   <!-- tutorial, keynote,  -->
                                                {% if activity.short_bio %}
                                                    <p><b>Biografia Resumida</b>: {{activity.short_bio}}</p>
                                                {% endif %}
                                                {% if activity.abstract %}
                                                    <p><b>Resumo</b>: {{activity.abstract}}</p>
                                                {% endif %}
                                            {% endif %} 
                                            {% if activity.type != "gap" %}
                                                <hr>    
                                            {% endif %}
                                        {% endfor %} <!-- activity in block.activities -->
                                    {% endfor %}  <!-- block in day.block -->
                                </div> <!-- details -->
                            </div> <!-- container -->
                {% endfor %} <!-- day in site.data.program -->
            </div> <!-- tabpanel -->
        </div> <!-- tab-content -->
    </section> <!-- program overview -->
    <br><br>
</section> <!-- program -->