---
layout: default
title: "Minicursos"
permalink: /program/tutorials/ 
---

<section id="program">
    <br><br>
    <h1 class="text-center">{{ page.title }}</h1>
    <br><br>
    <section id="program_overview">
        <div class="container-fluid"> 
            {% for day in site.data.program %}
                <h2 class="text-center">{{day.date}}</h2>
                <div class="container">
                    {% for block in day.blocks %}
                        {% if block.hide_details %}
                            {% continue %}
                        {% endif %}
                        {% for activity in block.activities %}
                            {% if activity.hide_details or activity.type != "tutorial" %}
                                {% continue %}
                            {% endif %}
                            {% if activity.type == "tutorial" %}
                                <h3 id="{{activity.id}}">{{activity.title}}: {{activity.description}}</h3>
                                <p class="activity_authors"><b>Autores</b>: {{activity.authors}}</p>
                            {% elsif activity.type == "keynote" %}
                                <h3 id="{{activity.id}}">{{activity.title}}</h3>
                                {% if activity.image %}
                                    <img src="{{ site.final_url }}/assets/img/{{activity.image}}" class="activity_image">
                                {% endif %}
                                {% if activity.authors %}
                                    <p class="activity_authors"><b>Palestrante</b>: {{activity.authors}}</p>
                                {% endif %}
                            {% else %}
                                <h3 id="{{activity.id}}">{{activity.title}}{% if activity.description %}: {{activity.description}}{% endif %} </h3>
                            {% endif %}
                            {% if activity.chair %}
                                <p class="activity_chair"><b>Chair:</b> {{activity.chair}}</p>
                            {% endif %}
                            {% if activity.type != "gap" and activity.type != "blank" %}
                                <p class="activity_room"><b>Sala:</b> {{activity.room}}</p>
                                {% if activity.start3 %}
                                    <p><b>Horários: </b> {{block.start}} - {{block.end}}, {{activity.start2}} - {{activity.end2}} e {{activity.start3}} - {{activity.end3}}</p>
                                {% elsif activity.start2 %}
                                    <p><b>Horário: </b> {{block.start}} - {{block.end}} e {{activity.start2}} - {{activity.end2}}</p>
                                {% else %}
                                    <p><b>Horário: </b> {{block.start}} - {{block.end}}</p>
                                {% endif %}
                            {% endif %}
                            {% if activity.type == "session" %}                 <!-- session, details -->
                                {% for paper in activity.papers %}
                                    <p class="paper_title"><b>{{paper.title}}</b></p>
                                    <p>{{paper.authors}}</p>
                                {% endfor %} <!-- paper in activity.papers -->
                            {% elsif activity.type == "panel" %}                <!-- panel, details -->
                                <p><b>Resumo</b>: {{activity.abstract}}</p>
                                {% for panelist in activity.panelists %}
                                    {% if panelist.image %}
                                        <img src="{{ site.final_url }}/assets/img/{{panelist.image}}" class="panelist_image">
                                    {% endif %}
                                    <p><b>Participante</b>: {{panelist.name}}</p>
                                    {% if panelist.short_bio %}
                                        <p><b>Biografia Resumida</b>: {{panelist.short_bio}}</p>
                                    {% endif %}
                                {% endfor %} <!-- panelist in activity.panelists -->
                            {% else %}                                   <!-- tutorial, keynote,  -->
                                {% if activity.short_bio %}
                                    <p><b>Biografia Resumida</b>: {{activity.short_bio}}</p>
                                {% endif %}
                                {% if activity.abstract %}
                                    <p><b>Resumo</b>: {{activity.abstract}}</p>
                                {% endif %}
                            {% endif %} 
                            {% if activity.type != "gap" %}
                                <hr>    
                            {% endif %}
                        {% endfor %} <!-- activity in block.activities -->
                    {% endfor %}  <!-- block in day.block -->
                </div> <!-- container -->
            {% endfor %} <!-- day in site.data.program -->
        </div> <!-- container-fluid -->
    </section> <!-- program overview -->
    <br><br>
</section> <!-- program -->