div {
  .program_activity {
    position: relative;
    border-radius: 0.5rem;
    padding: .5rem;
    margin: 0 .5rem 0 .5rem;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid #000000;
    background-color: #ffbbbb;
    &.auditorio1 {
      background-color: #bbbbff;
    }
    &.auditorio2 {
      background-color: #bbffff;
    }
    &.auditorio3 {
      background-color: #bbffbb;
    }
    &.le6 {
      background-color: #ffffbb;
    }
    &.maker {
      background-color: #ffddbb;
    }
    &.blank {
      background-color: #e9e9e9;
    }
    &.gap {
      background-color: transparent;
      border: none;
    }
  }

  .program_header {
    margin: 1rem 0;
  }

  .block_time {
    padding: .5rem;
  }
}

.activity_image {
  width: auto;
  height: 150px;
  float: left;
  margin: 10px;
  border-radius: 10%;
}

.activity_title,
.paper_title,
.block_time_text {
  margin-bottom: 0;
  text-decoration: none;
  color: #000000;
}

.activity_authors,
.activity_chair {
  margin-bottom: 0.25rem;
}

.nav-pills > .nav-item > .nav-link.active {
  background-color: #ff0000;
}

.nav-pills > .nav-item > .nav-link:hover:not(.active) {
  background-color: #ffbbbb;
  color: #000000;
}

.nav-link,
.nav-pills > .nav-item > .nav-link:focus:not(.active) {
  color: #000000;
}