<!DOCTYPE html>
<html lang="en-US">
    <head>
        <meta charset="UTF-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>{{ page.title }} - {{ site.title }}</title>
        <link rel="stylesheet" href="{{ '/assets/css/styles.css' | relative_url }}"> {% seo %}
        <link rel="icon" type="image/x-icon" href="{{ '/assets/img/favicon.ico' | relative_url }}">
    </head>
    <body>
        <nav class="navbar fixed-top navbar-expand-lg navbar-light">
            <div class="container">
                <a class="navbar-brand" href="{{ '/' | relative_url }}">
                    <img
                        src="{{ '/assets/img/sscad_logo.png' | relative_url }}"
                        class="img-fluid"
                        alt="SSCAD 2024 Logo"
                        id="sscad_logo"
                    />
                </a>
                <button
                    class="navbar-toggler"
                    type="button"
                    data-bs-toggle="collapse"
                    data-bs-target="#navbarSupportedContent"
                    aria-controls="navbarSupportedContent"
                    aria-expanded="false"
                    aria-label="Toggle navigation"
                >
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse justify-content-end" id="navbarSupportedContent">
                    <ul class="navbar-nav text-center">
                        <li class="nav-item">
                            <a class="nav-link" href="{{ '/registration/' | relative_url }}">Inscrições</a>
                        </li>
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                                Chamadas
                            </a>
                            <ul class="dropdown-menu">
                                <li><a class="dropdown-item" href="{{ '/cfp/' | relative_url }}">Trilha Principal</a></li>
                                <li><a class="dropdown-item" href="{{ '/cfp_wic/' | relative_url }}">SSCAD-WIC</a></li>
                                <li><a class="dropdown-item" href="{{ '/cfp_ctd/' | relative_url }}">SSCAD-CTD</a></li>
                                <li><a class="dropdown-item" href="{{ '/cfp_weac/' | relative_url }}">WEAC</a></li>
                                <li><a class="dropdown-item" href="{{ '/cfp_minicursos/' | relative_url }}">Minicursos</a></li>
                            </ul>
                        </li>
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                                Programa
                            </a>
                            <ul class="dropdown-menu">
                                <li><a class="dropdown-item" href="{{ '/program/' | relative_url }}">Programação Geral</a></li>
                                <li><a class="dropdown-item" href="{{ '/program/sessions/' | relative_url }}">Sessões Técnicas</a></li>
                                <li><a class="dropdown-item" href="{{ '/program/keynotes/' | relative_url }}">Palestras</a></li>
                                <li><a class="dropdown-item" href="{{ '/program/panel/' | relative_url }}">Painel</a></li>
                                <li><a class="dropdown-item" href="{{ '/program/tutorials/' | relative_url }}">Minicursos</a></li>
                                <li><a class="dropdown-item" href="https://lspd.mackenzie.br/marathon/">Maratona</a></li>
                            </ul>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="{{ '/committee/' | relative_url }}">Comitês</a>
                        </li>

                        <li class="nav-item">
                            <a class="nav-link" href="{{ '/travel_info/' | relative_url }}">Local</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" target="_blank" href="http://wscad.sbc.org.br/edicoes/index.html">Edições passadas</a>
                        </li>

                    </ul>
                </div>
            </div>
        </nav>
        <header class="text-center">
            <div class="container-fluid">
                <div id="sbc_logo">
                    <a href="https://www.sbc.org.br/" target="_blank">
                        <span>Realização:</span>
                        <br>
                        <img src="{{ '/assets/img/sbc_white.png' | relative_url }}">
                    </a>
                </div>
                <div class="row">
                    <div class="col-md-8 offset-md-2 text-center">
                        <h1>SSCAD 2024</h1>
                        <h2>
                            XXV Simpósio em Sistemas Computacionais de Alto Desempenho
                        </h2>
                        <h3><span>23 a 25 de outubro, 2024 — São Carlos, SP, Brasil</span></h3>
                    </div>
                </div>
            </div>
        </header>
        {{ content }}
        <footer class="text-center">
            <div class="grid-container">
				<div class="sbc">
					<b><p>Realização</p></b>
					<figure class="sbc">
						<a href="https://www.sbc.org.br" target="_blank"><img src="{{ '/assets/img/sbc_logo.png' | relative_url }}" class="img_prata"></a>
						<img src="{{ '/assets/img/spacer.png' | relative_url }}" style="width: 5%;height: 1%;">
						<a href="https://www2.sbc.org.br/ce-acpad/" target="_blank"><img src="{{ '/assets/img/ceacpad.png' | relative_url }}" class="img_prata" style="height: auto; width: 220px;"></a>
					</figure>
				</div>
				<div class="org">
					<b><p>Organização</p></b>
					<figure class="org">
						<a href="https://www.dc.ufscar.br" target="_blank"><img src="{{ '/assets/img/logo_dc.png' | relative_url }}" class="img_prata"></a>
						<img src="{{ '/assets/img/spacer.png' | relative_url }}" style="width: 5%;height: 1%;">
						<a href="https://www.ufscar.br" target="_blank"><img src="{{ '/assets/img/LogoUfscar.png' | relative_url }}" class="img_prata"></a>
						<img src="{{ '/assets/img/spacer.png' | relative_url }}" style="width: 5%;height: 1%;">
						<a href="https://www.icmc.ups.br" target="_blank"><img src="{{ '/assets/img/icmc.png' | relative_url }}" class="img_prata"></a>
					</figure>
				</div>
				<div class="fomento">
					<b><p>Fomento</p></b>
					<figure class="org">
						<a href="https://fapesp.br" target="_blank"><img src="{{ '/assets/img/fapesp.png' | relative_url }}" class="img_ouro" style="height: 70px;"></a>
 						<img src="{{ '/assets/img/spacer.png' | relative_url }}" style="width: 5%;height: 1%;">
						<a href="https://www.capes.gov.br" target="_blank"><img src="{{ '/assets/img/capes.png' | relative_url }}" class="img_prata"></a>
					</figure>
				</div>
				<div class="prata">
					<br>
					<b><p>Patrocinadores</p></b>
				</div>	
				<div class="ouro">
					<p>Ouro</p>
					<figure class="org">
						<a href="https://www.nvidia.com" target="_blank"><img src="{{ '/assets/img/nvidia-dell.png' | relative_url }}" class="img_ouro"></a>
						<!--<a href="https://www.hpe.com" target="_blank"><img src="{{ '/assets/img/Logo AMR e HPE.png' | relative_url }}" class="img_ouro"></a>-->
					</figure>
				</div>
				<div class="prata">
					<p>Prata</p>
					<figure class="org">
						<a href="https://www.lexisnexis.com/" target="_blank"><img src="{{ '/assets/img/LexisNexis.png' | relative_url }}" class="img_prata"></a>
                        <!-- <img src="{{ '/assets/img/spacer.png' | relative_url }}" style="width: 5%;height: 1%;">
						<a href="https://https://www.sidi.org.br/" target="_blank"><img src="{{ '/assets/img/LogoSiDi.png' | relative_url }}" class="img_prata"></a> -->
					</figure>
				</div>
			</div>
           <!-- <a class="btn btn-social" href="https://www.instagram.com/wscad2024/" target="_blank">
                <i class="bi bi-instagram"></i>
            </a>
            <a class="btn btn-social" href="https://www.facebook.com/wscad2024/" target="_blank">
                <i class="bi bi-facebook"></i>
            </a> 
            <br /><br /> -->
            <h1>SSCAD 2024</h1>
            <h2>All Rights Reserved (<a href="{{site.source_url}}{{page.name}}">edit</a>)</h2>
        </footer>
        <script
            src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.bundle.min.js"
            integrity="sha384-w76AqPfDkMBDXo30jS1Sgez6pr3x5MlQ1ZAGC+nuZB+EYdgRZgiwxhTBTkF7CXvN"
            crossorigin="anonymous"
        ></script>
    </body>
</html>
